<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<!-- ========================= -->
	<!-- Properties -->
	<!-- ========================= -->
	<Properties>
		<!-- Fetch dir path from environment variable -->
		<Property name="LOG_DIR">${env:LOG_DIR:-logs}</Property>
	</Properties>

	<!-- ========================= -->
	<!-- Appenders -->
	<!-- ========================= -->
	<Appenders>

		<!-- Console Appender (WARN and above only) -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss} %-5level [%t] - %msg%n" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT"
				onMismatch="DENY" />
		</Console>

		<!-- Rolling File Appender (ALL levels) -->
		<RollingFile name="FileAll"
			fileName="${LOG_DIR}/logs-all.log"
			filePattern="${LOG_DIR}/archive/logs-all-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n" />

			<Policies>
				<!-- Forces rollover at application startup -->
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30" />

		</RollingFile>

		<RollingFile name="FileInfo"
			fileName="${LOG_DIR}/logs-filter-info.log"
			filePattern="${LOG_DIR}/archive/logs-filter-info-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n" />

			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />

			<Policies>
				<!-- Forces rollover at application startup -->
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30" />

		</RollingFile>
		
		<RollingFile name="BedrockInputFile"
			fileName="${LOG_DIR}/logs-bedrock-input.log"
			filePattern="${LOG_DIR}/archive/logs-bedrock-input-log-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n" />

			<Policies>
				<!-- Forces rollover at application startup -->
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30" />

		</RollingFile>
		
		<RollingFile name="BedrockOutputFile"
			fileName="${LOG_DIR}/logs-bedrock-output.log"
			filePattern="${LOG_DIR}/archive/logs-bedrock-output-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n" />

			<Policies>
				<!-- Forces rollover at application startup -->
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30" />

		</RollingFile>
		
		<RollingFile name="BedrockIO"
			fileName="${LOG_DIR}/logs-bedrock-io.log"
			filePattern="${LOG_DIR}/archive/logs-bedrock-io-%d{yyyy-MM-dd}-%i.log.gz">

			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] - %msg%n" />

			<Policies>
				<!-- Forces rollover at application startup -->
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>

			<DefaultRolloverStrategy max="30" />

		</RollingFile>

	</Appenders>

	<!-- ========================= -->
	<!-- Loggers -->
	<!-- ========================= -->
	<Loggers>

		<!-- Root Logger: ALL logs go to file -->
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FileAll" />
			<AppenderRef ref="FileInfo" />
		</Root>

		<Logger name="bedrock.input" level="info" additivity="false">
			<AppenderRef ref="BedrockInputFile" />
			<AppenderRef ref="BedrockIO" />
		</Logger>
		
		<Logger name="bedrock.output" level="info" additivity="false">
			<AppenderRef ref="BedrockOutputFile" />
			<AppenderRef ref="BedrockIO" />
		</Logger>
	</Loggers>

</Configuration>